<% @admin_job= 'glossary' %>
<%= render 'layouts/admin_header' %>
<h2>Thay đổi</h2>

<%= render 'form', glossary: @glossary %>

<%= link_to 'Show', @glossary %> |
<%= link_to 'Trở lại', glossaries_path(:dict_id =>@glossary.dict_id) %>
