<!DOCTYPE html>
<html>

  <% require 'cgi' %>
  <h2> Ket qua </h2>
  <% @result.each{|r| 	%>
  	<h3><%=r[:dict_name]%><h3>
	<% r[:entries].each{|e| %>
    <div class="indented">
		<p class="dict_key">
		<%=e[:key].html_safe%>
		</p>
		<ul>
		<% e[:text].each{|t| %>
			<li><p class=dict_text><%=t%></p></li>
		<% }%>
		</ul>
    </div>
	<% }%>
  <% } %>

</html>


