<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Dictionary App</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      <h2><%= :title %></h2>
    </p>
  </body>
</html>
