
<!DOCTYPE html>
<html>
  <head>
  
<script>
function check_all(id) {
    var all_dicts;
	if(document.getElementById(id).checked != true){
	  to_set=false
	} else {
	  to_set=true
	}
	all_dicts=document.getElementById("all_dicts").value.split(";") ;
	for(index=0;index<all_dicts.length-1;++index){
		document.getElementById(all_dicts[index]).checked = to_set; 
	}
}
function showSelect(id) {
    var x = document.getElementById("select_dicts");
	if(document.getElementById(id).checked != true){
	  to_set="none"
	} else {
	  to_set="block"
	}
	console.log(to_set)
	console.log(id)
	console.log(x)
    x.style.display = to_set;
}
</script>
</head>
  
  <body>
    <%= form_with url: '/dict_lookup', method: :get, local: true do |f| %>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 well">
				<%= render 'search_form' %>
			</div>
			<div class="col-sm-4 well">
				<%= render 'search_result_summary' %>
			</div>
			<div class="col-sm-5 well">
				<%= render 'search_result_by_dictionary' %>
			</div>
		</div>
	</div>
    <% end %>
  </body>
</html>
