
<div class="panel panel-default">
  <div class="panel-heading">
	<p class="dict_label">Bổ sung từ mục</p>
  </div>


<!---- EDIT IT --------->
  <div class="panel-body">
    <%= form_with url: "/dict_add" , method: :get, local: true ,id: "cfg" do |f| %>
		<%=hidden_field_tag 'id',params[:id] %>
		<%= render "edit_glossary_form" %>
	<% end %>
  </div>
  