<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Dictionary App</title>
  </head>

  <body>

<%= "abcd " + @dictLookup %>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#lookup_by_dict">Tra theo tu dien</a></li>
    <li><a data-toggle="tab" href="#lookup_by_lang">Tra theo ngon ngu</a></li>
  </ul>
  <div class="tab-content">
    <div id="lookup_by_dict" class="tab-pane fade in active">
      <h3>TRA THEO TU DIEN</h3>

    </div>
    <div id="lookup_by_lang" class="tab-pane fade">
      <h3>TRA THEO NGON NGU</h3>
    </div>
  </div>
</div>

  </body>
</html>
