<div class="input-group ml-0">
  <input type="text" class="form-control" 
        id="dict_name" name="dict_name"
	placeholder='Nhập tên thí dụ Tự điển Anh Việt ...' 
	value="<%=params[:dict_name]%>" 
	aria-describedby="basic-addon2">
  <span class="input-group-addon" id="basic-addon2">Tên tự điển</span>
</div>
<div class="input-group">
<select class="form-control" >
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>

  <span class="input-group-addon" id="basic-addon2">Tên tự điển</span>
</div>
<div class="input-group">
  <input type="text" class="form-control" 
        id="dict_name" name="dict_name"
	placeholder='Nhập tên thí dụ Tự điển Anh Việt ...' 
	value="<%=params[:dict_name]%>" 
	aria-describedby="basic-addon2">
  <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span>
</div>
<div class="input-group">
  <input type="text" class="form-control" 
        id="dict_name" name="dict_name"
	placeholder='Nhập tên thí dụ Tự điển Anh Việt ...' 
	value="<%=params[:dict_name]%>" 
	aria-describedby="basic-addon2">
  <span class="input-group-addon" id="basic-addon2"><button class="fa fa-search"></button></span>
</div>
<div class="input-group">
  <p class="form-control">hello</p>
  <span class="input-group-addon" id="basic-addon2"><button class="fa fa-search"></button></span>
</div>

