<div class="center jumbotron">
  <h2>Chào mừng các bạn đến với</h2>
  <h2>Trang từ điển tổng hợp</h2>
  <%= link_to image_tag("dict_ima.jpg", alt: "Dictionary logo" , :size => "260x180"), '#' %>
  <br/>
</div>
