

<div class="row" >
<div class="table-responsive">
<table class="table table-condensed table-striped">
  <tbody>
		<% @exported.each do |exp|	%>
		   <tr>
				<td><a href="<%=admin_pages_glossary_export_path%>?download_id=<%=exp['file_id']%>">
				<i class="fa fa-download"></i></a></td>
				<td><%=exp["notes"]%></td>
				<td>
					<%exp["dicts"].each{|d| %>
						<%=d%><br/>
					<%} %>
				</td>
			</tr>
		<% end 										%>
  </tbody>
</table>

</div> <!--- table-responsive -->
</div> <!--- row  -------------->