
<div class="row" >
<div class="table-responsive">
<table class="table table-condensed table-striped">
  <tbody>
    <% @import_history.each do |h| %>
      <tr>
	  <% status = ""
	     status << h.status if h.status!= nil
		 if h.percent != nil
			status << " (" 
			status << h.percent.to_s
			status << "%)"
		 end
	   %>
		<td><%=h.in_data%>&nbsp;<i><%=status%></i>&nbsp;[<%=h.message%>]<td>
	  </tr>
    <% end %>
  </tbody>
</table>

</div> <!--- table-responsive -->
</div> <!--- row  -------------->


 






  