<admin_header class="navbar">

<% 
	tabs= [
		{"admin_job" =>"cfgdict",
		 "text"=>"Cấu hình các tự điển",
		 "path"=>dict_configs_path },
		{"admin_job" =>"glossary",
		 "text"=>"Bảng thuật ngữ",
		 "path"=>glossaries_path }
	]
	
%>
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ADMIN</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav">
		<% cl="" %>
		<% tabs.each {|tb| %>
			<%  if @admin_job==tb["admin_job"]
					cl = "active"
				else
					cl = "inactive"
				end
			%>
			<li class="<%=cl%>" ><%= link_to tb["text"], tb["path"] %>
		<%}					%>
      </ul>


<% if defined?(@navlinks) != nil %>
     <ul class="nav navbar-nav navbar-right">
<% 	@navlinks.each{|l|   %>
	<li><%= link_to l[0],l[1] %></li>
<% 	}   %>
      </ul>
<% end %>

     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
 </nav>


</admin_header>
